body {
    background: #f8f9fa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-info {
    background-color: hsla(0, 72%, 23%, 0.986) !important;
}

.site-header .navbar-nav .nav-link {
    color: hsl(0, 0%, 100%);
}

.site-header .navbar-nav .nav-link:hover {
    color: hsl(0, 0%, 0%);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #310c06;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.like-btn {
    transition: all 0.3s ease;
}

.like-btn:focus {
    box-shadow: none;
}